<div class="form-container">


    <h2 class="form-hero-title"> Join Our Provider Network</h2>

    <form>

        <h3 class="form-hero-subtitle"> Get Access to Custom Rapid Test catalogs for your clinic, new tests, and offer
            on-site testing and products to clients. </h3>
        <br>

        <div class="input-row">
            <input type="text" name="name" placeholder="Full Name" Your Name />
            <input type="text" name="business_name" placeholder="Business Name" required />
        </div>

        <div class="input-row">
            <input type="text" name="business_type" placeholder="Company Type" required />
            <input type="text" name="province" placeholder="Province" Your Name />
        </div>

        <div class="input-row">
            <input type="email" name="email" placeholder="Email" required />
            <input type="tel" name="phone" placeholder="Phone Number" required />
        </div>


        <br>

        <button type="submit">Connect with Us</button>
        <div class="form-consent">
            <label>
                <input type="checkbox" name="consent" required />
                I agree to receive email communications
            </label>
        </div>

        <div class="form-subnote" style="text-align: center; font-size: 0.8rem;">By submitting your email address
            we will subscribe you to occasional updates from Abundant Science. <br>
            Your data is protected by
            our privacy policy and the laws of Canada and Ontario.
        </div>
    </form>

</div>
